.background {
  box-sizing: border-box;
  border-radius: 24px 24px 0 0;
  background-color: var(--color-background-positive-opaque);
  border: 1px solid var(--color-border-positive-opaque);
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
}
