.card {
  border-radius: 24px;
  background: white;
  box-shadow: 0px 1px 1px rgba(32, 65, 90, 0.1),
    0px 2px 4px rgba(32, 65, 90, 0.1);
  position: relative;
  z-index: 2;
}

.header,
.points,
.footer {
  display: flex;
}

.header,
.points {
  justify-content: space-between;
}

.header {
  align-items: center;
}

.points {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.5fr 0.5fr 2fr;
  gap: 0px var(--unit);
}

.footer {
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: row;
}

.arrow {
  padding-right: 10%;
}
