.card {
  border-radius: 24px;
  background: white;
  box-shadow: 0px 1px 1px rgba(32, 65, 90, 0.1),
    0px 2px 4px rgba(32, 65, 90, 0.1);
}

.header,
.points,
.footer {
  display: flex;
}

.header,
.points {
  justify-content: space-between;
  align-items: center;
}

.footer {
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: row;
}
