.card {
  --unit: 8px;
  --base-font: calc(var(--unit) * 2);
  --color-text-primary: #20415a;
  --color-text-secondary: #436783;
  --color-text-tertiary: #698ca5;
  --color-text-link: #0271ca;
  --color-background-positive-opaque: #cffcdd;
  --color-background-secondary-transparent: #8facc11c;
  --color-text-over-background: #ffffff;
  --color-border-positive-opaque: #a6f7c2;
  --accent-primary-400: #30b0ff; /* 10% opacity on the button */
  --blue-50: #e6f6ff;
  --blue-500: #0271ca;
  --blue-100: #d1edff;
  --color-text-positive-dark: #376556;
  margin: calc(var(--unit) * 3);
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 600;
}

.label {
  line-height: 1.125;
}

.xl {
  font-size: calc(var(--base-font) * 1.125);
}

.lg {
  font-size: var(--base-font);
}

.md {
  font-size: calc(var(--base-font) * 0.875);
}

.sm {
  font-size: calc(var(--base-font) * 0.75);
}

.xs {
  font-size: calc(var(--base-font) * 0.625);
  text-transform: uppercase;
}

.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.tertiary {
  color: var(--color-text-tertiary);
}

.positiveDark {
  color: var(--color-text-positive-dark);
}

.link {
  color: var(--color-text-link);
  text-decoration: none;
}

.button {
  padding: var(--unit) calc(var(--unit) * 1.5);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Codec Pro", Arial, sans-serif !important;
  border: none;
}

.blueDefault {
  color: var(--color-text-over-background);
  background-color: var(--blue-500);
}

.blueDefault {
  color: var(--color-text-over-background);
  background-color: var(--blue-500);
}

.base {
  color: var(--color-text-primary);
  background-color: var(--color-background-secondary-transparent);
}

/*
Spacing Guide
  0.25 -> 1
  0.5 -> 2
  1 -> 4
  1.5 -> 6
  2 -> 8
  2.5 -> 10
  3 -> 12
  3.5 -> 14
  4 -> 16

*/

.pt4 {
  padding-top: var(--unit);
}

.pt8 {
  padding-top: calc(var(--unit) * 2);
}

.pb16 {
  padding-bottom: calc(var(--unit) * 4);
}

.pb10 {
  padding-bottom: calc(var(--unit) * 2.5);
}

.mt2 {
  margin-top: calc(var(--unit) * 0.5);
}

.mt8 {
  margin-top: calc(var(--unit) * 2);
}

.mr1 {
  margin-right: calc(var(--unit) * 0.25);
}

.mr4 {
  margin-right: var(--unit);
}

.mr6 {
  margin-right: calc(var(--unit) * 1.5);
}

.mr8 {
  margin-right: calc(var(--unit) * 2);
}

.mb1 {
  margin-bottom: calc(var(--unit) * 0.25);
}

.mb2 {
  margin-bottom: calc(var(--unit) * 0.5);
}

.mb4 {
  margin-bottom: calc(var(--unit) * 1);
}

.mb8 {
  margin-bottom: calc(var(--unit) * 2.5);
}

.mb10 {
  margin-bottom: calc(var(--unit) * 2.5);
}

.ml8 {
  margin-left: calc(var(--unit) * 2);
}

.ml10 {
  margin-left: calc(var(--unit) * 2.5);
}
